boto3==1.7.26
botocore==1.10.26
certifi==2018.4.16
chardet==3.0.4
click==6.7
coloredlogs==10.0
docutils==0.14
gitdb2==2.0.3
GitPython==2.1.10
humanfriendly==4.12.1
idna==2.6
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.0
PyGithub==1.39
PyJWT==1.6.3
python-dateutil==2.7.3
PyYAML==3.12
requests==2.18.4
s3transfer==0.1.13
sh==1.12.14
six==1.11.0
smmap2==2.0.3
urllib3==1.26.5
Werkzeug==0.14.1
